#input-form {
    margin: 20px 340px 0px 340px;
    /* margin: 20px 340px; */
}

h1 {
    color: #212121;
    font-size: 1.25rem;
    margin-bottom: 12px;
}

#list-todo {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
}

#list-todo div{
    margin: 10px 4px;
    border-radius: 8px;
    padding: 10px;
    background-color: #607EAA;
    width: 200px;
    height: 180px;
    position: relative;
}

.card-todo {
    border: 2px solid transparent;
}

.card-todo.active {
    border: 2px solid black;
}

.wrapper-icon {
    width: 32px;
    height: 32px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wrapper-icon i {
    color: red;
}

a.update-button,
a.delete-button {
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    color: white;
    bottom: 10px;
    left: 10px;
}

a.delete-button {
    left: 76px !important;
}

a:hover {
    cursor: pointer;
    color: red;
}

h6 {
    position: absolute;
    bottom: 25px;
}

p {
    background-color: white;
    display: inline;
    padding: 5px 10px;
    border-radius: 15px;
    color: #A10035;
    font-weight: bolder;
}