@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/Urbanist-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/Urbanist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../font/Urbanist-SemiBold.ttf') format('truetype');
}

h1 {
    color: #212121;
    font-size: 1.125rem;
    font-family: 'urbanist-semibold', Arial, Helvetica, sans-serif !important;
    margin-bottom: 12px;
}

.card-todo {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #607EAA;
    height: 180px;
    position: relative;
}

.card-todo.active {
    border: 2px solid black;
}

.btn-sort {
    width: fit-content;
    overflow-x: auto;
}

.btn-group-sort {
    width: 100%;
}

.btn-outline-primary {
    text-wrap: nowrap;
}

.wrapper-icon {
    width: 32px;
    height: 32px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wrapper-icon i {
    color: red;
}

a.update-button,
a.delete-button {
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    color: white;
    bottom: 10px;
    left: 10px;
    font-family: 'urbanist-semibold', Arial, Helvetica, sans-serif !important;
}

a.delete-button {
    left: 76px !important;
}

a:hover {
    cursor: pointer;
    color: red;
}

h6 {
    position: absolute;
    bottom: 25px;
}

p {
    background-color: white;
    display: inline;
    padding: 5px 10px;
    border-radius: 15px;
    color: #A10035;
    font-weight: bolder;
    font-family: 'urbanist-medium', Arial, Helvetica, sans-serif !important;
}